@{
    ViewData["Title"] = "Poller";
}

<div style="padding: 10%; text-align: center">
    <a asp-controller="Polls" asp-action="Create" class="btn btn-default btn-lg" style="margin-right: 10px">Create a poll</a>
    <a asp-controller="Manage" asp-action="Index" class="btn btn-default btn-lg">Manage your polls</a>
</div>

